body {
    /* min-height: 100rem; */
    padding-top: 4.5rem;
}
#bodhiTreeTitle {
    position: relative;
    margin-left: 10%;
    padding-right: 0;
    /* left: 3rem; */
    /* right: 10px; */
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(112,112,112,1);
}

#exploreButtonParent {
    position: relative;
    white-space: nowrap;
}

.exploreButton {
    font-family: Open Sans;
    font-style: normal;
    text-align: center;
    background-color: rgba(0, 80, 141, 1)
}

.exploreCoursesButton {
    text-align: center;
    font-size: small;
    width: 85%;
    background-color: white;
    color: grey;
    border-color: lightgrey;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 20%;
}


#searchGroup{
    position: absolute;
    height: 2rem;
    width: 30%;
    left: 33%;
    z-index: 2000;
    top: 1.2%;
    padding-left: 5%;
}

#loginLink {
    white-space: nowrap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    color: rgba(0,80,141,1);
}

#loginLinkParent{
    position: absolute;
    right: 12rem;
}
#registerButtonParent{
    position: absolute;
    right: 5rem;
    /* margin-right: 10rem; */
    /* left:22rem; */
}

.slantedDiv {
    position: relative;
    display: inline-block;
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    color: #fff;
}
  
.slantedDiv:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0,100%;
    transform-origin: 0,100%;
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
    z-index: -1;
}

.landingImage {
    width: 50%;
    height: 100%;
}
/* .landingImageParent {
    display: flex;
    width: 100%;
    height: 25rem;
    z-index: 2000;
    margin-top: -2%;
} */


.jumbotron-fluid {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}
.tagline {
    height: 100%;
    margin-left: 29%;
    background: linear-gradient(-75deg, rgba(0, 80, 141, 1) 65%, transparent 65%);
    display: flex;
  }
  .landingImageParent {
    /* position: absolute; */
    /* top: -2%; */
    margin-top: -5%;
    width: 100%;
    height: 27rem;
    background-image: url(img/classroom.png);
    background-size: 55% 100%
    
  }
  .taglineForm {
    display: flex;
    flex-direction: column;
    width: 64%;
    background: transparent;
    margin-left: auto;
    justify-content: space-around;
    /* margin-right: 1em; */
  }

  #taglineText {
    /* position: absolute; */
    /* top: 38%; */
    margin-left: 5%;
    margin-top: 18%;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(246,246,246,1);
  }

.roleButtons {
    display: flex;
    width: 100%;
    margin-left: 2%;
    justify-content: space-around;
    /* margin-bottom: 4%; */
    /* position: absolute; */
    /* bottom: 18%; */
}

.instructorLogin {
    background-color: white;
    color: rgb(0, 80, 141);
    font-size: 80%;
    border-radius: 10px;
    margin: 5%;
    /* margin-left: 10%; */
    width: 35%;
    max-width: 35%; 
    min-width: 100px;
}

.studentLogin {
    font-size: 80%;
    background-color: white;
    color: rgb(0, 80, 141);
    border-radius: 10px;    
    margin: 5%;
    max-width: 35%;
    /* margin-right: 5%; */
    width: 35%;
    min-width: 100px;
}

.institutesParent {
    /* position: relative; */
    width: 80%;
    /* top: 0%; */
    /* height: 10rem; */
}

.coursesParent {
    width: 80%;
    margin-top: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
}

.institutesHeader {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 90%;
    color: rgba(74,74,74,1);
}

.instituteCardsGroup {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: stretch;
}

.institute{
    color: rgba(112,112,112,1);
    display: flex;
    justify-content: center;
    margin: 2%;
    min-width: 120px;
}

.course {
    color: rgba(112,112,112,1);
    /* display: flex; */
    /* justify-content: center; */
    margin: 1%;
    flex-grow: 1;
    flex-basis: 0;
}



.separator {
    margin-top: 4%;
    width: 100%;
    height: 1px;
    background-color: lightgray
}

.courseHeader {
    color: rgba(112,112,112,1);
    flex-grow: 1;
    flex-basis: 0;
    margin: 2%;
    /* margin-bottom: 0; */
    /* margin-top: 0; */
    margin-right: 3%;
    text-align: left;
    border-color: transparent;
}

.course, .courseHeader {
  min-width: 150px;  
  max-width: 200px;
  padding: 0;
}

.mainBody {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin-top: 5%;
    width: 100%;
    height: auto;
}

.workshopsParent {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: left;
    /* position: absolute; */
    /* top: 170%; */
    margin-top: 5%;
    height: auto;
    padding-bottom: 2%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
}

.workshopHeader {
    color: rgba(112,112,112,1);
    text-align: left;
    margin-bottom: 2%;
}

.workshopCard {
    border-radius: 15px;
    height: auto;
}

.workshopImage {
    height: 6rem;
}

.timeVenue {
    font-size: small;
    text-align: left;
    margin:0
}

.workShopText {
    font-size: small;
    text-align: left;
    margin: 0
}

.footer {
    width: 80%;
}

.coursesFlexForSeparator {
    width: 80%;
}